<%- include("header") -%>



<div class="aboutFirstDiv">
 <h1>About Us</h1>
 <br>
 <h3>Who are we?</h3>
 <p>We are a Singapore-based freight forwarding company. Founded by Mr. L T Goh in 2003,
    we have provided our customers with satisfactory logistic solutions for 19 years. Having worked as a freight manager before this,
    Mr Goh aptly described our role as that of a freelance freight manager. We help our customers to arrange and monitor shipments
    from start to end, provide shipping advices, all just an email away. While we are based in Singapore,
    we can handle imports, exports, transshipments all around the world.</p>
 <br>
 <h3>Our Selling Points</h3>
 <ul>
  <li>Experience. Our chief forwarder has >20 years of forwarding experience under his belt.</li>
  <li>Transparency. All our quotations come with a price breakdown, no hidden costs.</li>
  <li>Full package. We handle everything you need for a shipment, including vessel/flight booking, re-packing/palletising,
      temporary warehousing, fumigation etc.</li>
 </ul>
 <br>
</div>

<div class="aboutSecondDiv" id="contact">
 <h1>Contact Us</h1>
 <br>
 <h5>Email (preferred):</h5><p class="user-select-all">(email)</p>
 <h5>Tel:</h5><p>+65 6748 0749</p>
 <h5>Address:</h5><p class="user-select-all">3007 Ubi Road 1<br>#06-406<br>Singapore 408701</p>
 <h5>Working Hours:</h5><p>Mon - Fri<br>0900 - 1800 (+8 GMT)<br>Closed for weekends & public holidays.
     (We follow Singapore calendar and public holidays.)</p>
</div>

<div class="aboutThirdDiv" id="FAQ">
 <h1>Frequently Asked Questions</h1>
 <br>
 <ul>
  <li><h5>What is freight forwarding, and do I even need it?</h5>
      <p>Freight forwarders are responsible for arranging transportation of your cargo around the world. While it is entirely possible to
         arrange your own freight services, we have the expertise and reliable contacts to help you do so more efficiently and
         cost-effectively.</p>
  <br>
  <li><h5>What documents do I need for a shipment?</h5>
      <p>The documents you need will depend on the shipment details. The customs requirements differ for every country.
         Minimally, we will need Commercial Invoice & Packing List. Additional documents such as Material Safety Data Sheet
         (MSDS) for dangerous goods, company license for controlled cargoes etc. may be needed.</p></li>
  <br>
  <li><h5>&#@!^*5)+$".29@&)/*%-=(*,#6`~(}|3]'\?</h5>
      <p>Regrettably, we are currently only able to handle requests in English. (Documents do not need to be in English,
         email/tel correspondence does though)</p></li>
 </ul>
</div>








<div class="container">

<%- include("footer") -%>