    <footer class="pt-3 mt-4 text-muted border-top">
      &copy; <%= year %> Hong Yuan Forwarding Services
    </footer>
</div>
</main>

    <script src="/js/<%= page %>.js" charset="utf-8"></script>
  </body>
</html>