/*general styles*/

.hylogo {
 width:20%;
 height:20%;
 padding:3%;
}

.hyicon {
 padding:2%;
}

textarea {
 width:100%;
}

.hidden {
 visibility:hidden;
}

.formTable {
 background-color:#ddd;
 width:100%;
}

.formTable th,.formTable td {
 border:4px solid;
 text-align:left;
 padding:1%;
}

.submit {
 margin:2% 3% 1% 75%;
}

.after-nav {
 height:8rem;
}

@media only screen and (max-width:768px) {
 .after-nav {
  height:6rem;
 }
}

/*End general styles*/










/* Index styles*/

.carousel {
 margin-bottom:6%;
}

.carouselPage {
 height:27rem;
}

.carouselPage3 {
 background-color:#e5dddd;
 padding:0 4%;
}

.carouselPage3 h1 {
 margin:0 0 30px 10px;
}

th {
 padding:0 2%;
}

td {
 font-size:1rem;
 padding:1%;
 vertical-align:top;
}

.carousel-control-prev,.carousel-control-next {
 max-width:5%;
}


.indexSecondDiv {
 padding:4%;
 margin-bottom:50px;
 background-color:#eee;
 border-radius:2%;
}

.indexSecondDiv h1 {
 font-size:3rem;
}

.indexSecondDivCards {
 margin:auto auto 5% 0;
 padding-top:3%;
}

.indexSeaCard {
 background-color:#006faa;
 color:#ccc;
}

.indexAirCard {
 background-color:skyblue;
}

.indexLandCard {
 background-color:darkgreen;
}

.indexAdviseCard {
 background-color:#ddd9ff;
 color:#000055;
}

.indexAdviseBtn {
 background-color:#6153b0 !important;
}

@keyframes clearEffect {
 0% {opacity:0.9;}
 1% {opacity:1;}
 5% {opacity:1;}
 10% {opacity:0.6;}
 15% {opacity:0.2;}
 20% {opacity:0.1;}
 100% {opacity:0;}
}

.indexFourthDivBtn {
 background-color:#2676cc !important;
 opacity:0.9;
}

.indexFourthDivBtn:hover {
 animation-name:clearEffect;
 animation-duration:4s;
 opacity:0;
}

@media only screen and (max-width:768px) {
 .carouselPage {
  height:auto;
 }
 .carouselPage3 h1 {
  margin:0 0 20px 10px;
 }
 td {
  font-size:12px;
 }
 .indexSecondDiv h1 {
  font-size:2rem;
 }
}

/*End index styles*/











/* freight page styles*/

.freightFirstDiv {
 width:90%;
 background-color:#90cfff;
 margin-bottom:50px;
 padding:10%;
}

.freightSecondDiv {
 margin:4% auto 0;
 padding:3%;
 text-align:center;
 background-color:#c3c3da;
 border-radius:3%;
}

/* End freight page styles */








/* about us page styles */

.aboutFirstDiv {
 width:100%;
 background:linear-gradient(to bottom right, #feb 0%, #f9c 100%);
 padding:4%;
}

.aboutSecondDiv {
 width:100%;
 background:linear-gradient(to top right, #3cf 0%, #f9c 100%);
 color:#660;
 padding:4%;
}

.aboutThirdDiv {
 width:100%;
 background:linear-gradient(to bottom right, #3cf 0%, #9fc 60%, #fff 100%);
 color:#47b;
 padding:4%;
}

/* End about us page styles */








/* localclearance page styles */

.clearanceFirstDiv {
 width:90%;
 margin-bottom:50px;
 border-radius:2%;
 background-color:#9c9;
}

.clearanceSecondDiv {
 margin:4% auto 0;
 padding:3%;
 text-align:center;
 background-color:#728481;
 border-radius:3%;
}

/* End localclearance page styles */











/* submit page styles */

.successPageBg {
 margin:0 auto;
 width:500px;
 height:500px;
 background-image:url("/images/HY Logo success.jpg");
 background-repeat:no-repeat;
 background-size:100%;
 text-align:center;
}

.failurePageBg {
 margin:0 auto;
 width:500px;
 height:500px;
 background-image:url("/images/HY Logo failure.jpg");
 background-repeat:no-repeat;
 background-size:100%;
 text-align:center;
}

.submitPageText {
 width:500px;
 height:500px;
 padding:30% 22%;
 opacity:0;
}

@media only screen and (max-width: 768px) {
 .successPageBg,.failurePageBg,.submitPageText {
  margin-top:12%;
 }
}

.successPageBg:hover,.failurePageBg:hover {
 background-image:url("/images/HY Logo.png");
}

.submitPageText:hover {
 opacity:1;
}

